@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-main: #000000;
	--color-secondary: #ffffff;
}

body {
	background: var(--color-main);
	font-family: "Roboto Condensed", sans-serif;
	color: white;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #000000;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, #333333, #666666);
	border-radius: 10px;
	transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(45deg, #555555, #888888);
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #666666 #000000;
}
